@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Poppins:ital,wght@1,400;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: 'Moon Dance', cursive;
     font-family: 'Poppins', sans-serif;

}
/* ..........style nav
....................... */

.container{
    max-width: 1680px;
    margin: 0 auto;
    padding: 0 20px;

}
nav{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.navigation{
    font-size: 18px;
}
.ul-dig{
    display: flex;
}
.ul-dig li{
    list-style: none;
    margin: 15px;
}
.ul-dig li a{
    text-decoration: none;
    color: black;
}
/* nav end */
.body{
    margin-top: 91px;
    border-top: 20px;
    padding-top: 20px;
    justify-content: center;
}
.banner{
    margin: 20px;
    height: calc(100vh-70px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
}
.banner-left{
    Width: 582px;
    Height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 1.5;
}
.button-deg{
    padding: 15px 45px;
    border-radius: 41px ;
    background-color: #E02C6D;
    color: white;
    font-size: 24px;
    align-content: center;
    position: relative;
    top: 0;
}
.fa-arrow-right{
    padding: 15px;
 
}
.button-deg:active{
    top: 5px;
    box-shadow: 0 3px 0 #ca4d7b;
}
.banner-left h1{
    font-size: 52px;
    color: #3A3A3A;
}
.banner-left p{
    font-size: 20px;
    color: #3A3A3A;
    padding: 15px;
    margin: 15px;
}
.banner-right{
    Width: 440px;
    /* Height: 414px; */
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    
}
.banner-right img{
    width: 70%;
}
.banner-right:hover img{
    transform: scale(1.1) rotate(360deg) skew(-25deg);
    transition: 3s ease-in-out;
}
/* ...............
photo hobber and top section end */
/* products style */

.mid-sec-title{
    text-align: center;
    font-size: 24px;
    padding: 50px;
    margin-bottom: 20px;

}
.product .product-banner img{
    width: 300px;
    height: 256px;
}
.fa-star.filled{
    color: #FB8200;

}
.fa-star-half-alt.filled{
    color: #FB8200;
}
.product-info{
    display: flex;
    justify-content: flex-start;
}
.product-something{
    Width:196px;
    Height:61px;
    font-size: 14px;
    color: #787885;
}
.product-tytle{
    color: #18191F;;
}
.product{
    width: 409px;
    height: 476px;
    background-color: #fff;
    box-shadow:15px 15px 15px 15px solid grey;
    border-radius: 10px;
    
}
.products{
    display: grid;
    background-color: rgb(241, 241, 245);
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px; 
}
.see-menu{
    font-size: 30px;
    color: red;
    text-align: right;
    padding: 25px;
}
#last-right{
Width: 582px;
Height: 270px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
line-height: 1.5;}

/* .................
..................footer link */
.footer-link{
    background: rgb(30, 1, 107);
   
    height: 259px;
}
.main-footer{
    color: blanchedalmond;
    display: grid;
    padding: 63px;
    margin: 40px;
    align-items: center;
    justify-content: center;
}
.main-footer h2{
    text-align: center;
    padding-bottom: 20px;
}
#middle-footer{
    text-align: center;
}
.sosal-footer i{
    padding: 20px;
    font-size: 20px;
}
/* ..........Media Queries ...... */
/*------------ mobileDevice-------- */
@media  screen and (max-width:688px) {
    .container{
        width: 100%;
        text-align: center;
    }
    .nav{
        display: none;
    }
    .navigation{
        font-size: 20px;
        padding: 20px;
        margin: 20px;
        text-align: center;
    }
    .banner {
        flex-direction: column;}
        .banner-right img{
            flex-direction: column;
            align-items: center;
        }
    .products .last-sec .footer-link{
        display: none;
    }
}